.login-page {
  text-align: center;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 300px;
  margin: 0 auto;
}

.login-form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.signup-text {
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
  text-align: center;
}

.signup-text:hover {
  text-decoration: underline;
}